GGJ2022-TeamHS/.vsconfig
GGJ2022-TeamHS/.vscode/
GGJ2022-TeamHS/Assets/3rdParty/MeEngine/3rdParty/ConsolePro/Editor/ConsolePro.Editor.dll.meta
GGJ2022-TeamHS/Assets/3rdParty/MeEngine/Plugins/CleanMonoBehaviour/CleanMonoBehaviour.dll.meta
